html {
  text-align: justify; }

body {
  background-color: #015095;
  text-align: center;
  font-family: "Open Sans", sans-serif; }

footer {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: .9rem; }

img {
  animation-duration: 2s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.active {
  animation: headShake;
  animation-duration: 2s; }

.navbar-light .navbar-nav .nav-link, h1, h2, h3, p, li, footer, label, th, td {
  color: #CDD0D2; }

.mapa {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }

.mapa iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.bg-light {
  --bs-bg-opacity: 0; }

.navbar-brand {
  margin-right: 0; }

.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
  justify-content: center;
  padding-right: 0;
  padding-left: 0; }

.navbar-expand-lg .navbar-collapse {
  justify-content: center; }

.navbar-light .navbar-nav .nav-link, h1, h2, h3, h4, p, li, footer, label, th, td, u {
  color: #CDD0D2; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: white; }

.navbar-toggler {
  margin-top: 0.4rem; }

h4 {
  margin-top: 1.5rem; }

li {
  list-style: none; }

.list-group-item, .accordion-button, .accordion-button:focus, .accordion-body {
  background-color: #015095;
  color: #CDD0D2; }

.list-group-item {
  border: 0;
  border-radius: 0.25rem; }

.accordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: #015095; }

.accordion-button:focus {
  color: #0c63e4; }

.list-group-item-action:focus, .list-group-item-action:hover {
  color: #CDD0D2;
  background-color: #0c63e4; }

.btn-primary {
  color: #CDD0D2; }

.mb-3 {
  text-align: initial; }

.card.card-body {
  background-color: #015095;
  margin-bottom: 1rem;
  overflow-x: auto; }

@media (max-width: 767px) {
  .ocultar767 {
    display: none; }
  .row {
    flex-direction: column; } }

@media (min-width: 768px) {
  .ocultar768 {
    display: none; } }

.w-100 {
  margin: 1rem 0 1rem 0; }

.texto {
  text-align: justify; }

.carousel-inner {
  max-width: 800px;
  height: auto;
  margin: auto; }

.carouser.slide {
  align-content: center; }
